body{
    background: #d3cce3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e9e4f0a1, #d3cce39f), url(fondo.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e9e4f0a1, #d3cce39f) , url(fondo.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
}

.main-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 122, 138);
    width: 100%;
}

.header{
    border-bottom: 1px solid #d3cce3;
}

.opt-menu{
    justify-content: flex-end;
    width: 90%;
}

.opt-menu li{
    list-style: none;
    width: 15%;
}

.opt-menu a{
    color: white;
    text-decoration: none;
}

.opt-menu a:hover{
    background-color: white;
    color: black;
    border: 5px solid white;
}

.container{
    margin: 3% 10% 5% 10%;
}

.container h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-bottom: 4%;
}

.form-flex{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-form{
    margin-bottom: 2%;
}

.input-form div{
    width: 30%;
    float: left;
}

.input-form input{
    width: 60%;
}

.form-button{
    text-align: center;
}

.form-button button{
    background-color: rgb(44, 135, 209);
    color: white;
    border: 1px solid;
    border-right:5px solid #d1d1d1 ;
    border-bottom:5px solid #d1d1d1 ;
    border-radius: 5px;
    width: 15%;
    height: 35px;
    cursor: pointer;
}

.form-flex label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.form-flex .inp{
    height: 30px;
    border: 1px solid rgb(240, 122, 138);
    border-radius: 10px;
}

.options{
    width: 40%;
    text-align: left;
}

.options ul li{
    list-style: none;
}

.opt{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.opt h4{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.opt input{
    width: 4%;
}

footer{
    background-color: rgb(240, 122, 138);
    color: white;
    height: 60px;
    text-align: center;
    border-top: 1px solid #d3cce3;
}

footer p{
    padding-top: 2%;
}

.fa-heart{
    color: rgb(255, 0, 98);
}